
body {
}

#container-main {
  background-color: #f6ead9;
  border-top-style: solid;
  border-top-color: #552631;
  border-top-width: 60px;
}

#cover-wrapper {
  display: block;
  width: 345px;
  max-width: 85vw;
  padding: 5vw;
}

#cover {
  width: 345px;
  max-width: 85vw;
}

#buy-exam {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}

#info-wrapper {
  display: block;
  max-width: 90vw;
  padding: 5vw;
}

@supports (display: grid) {
  @media (min-width: 1200px) {
    #container-main {
      display: grid;
      grid-template-rows: 40px 525px 10% 1fr 60px;
      grid-row-gap: 20px;
      grid-template-columns: 10% 345px 5% 1fr 10%;
      grid-column-gap: 20px;
    }
    #cover-wrapper {
      display: grid;
      padding: 0;
      grid-row-start: 2;
      grid-column: 2 / 3;
    }
    #info-wrapper {
      display: grid;
      padding: 0;
      grid-row-start: 2;
      grid-column-start: 4;
      margin-top: 3em;
      margin-bottom: 3em;
    }
    #cover {
      max-width: 100%;
      grid-column: 2 / 3;
    }
    #buy-exam {
      grid-row-start: 3;
      grid-column: 2 / 3;
    }
  }
}

h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#title {
  color: #552631;
  font-family: Avenir, sans-serif;
  font-size: 32px;
}

#description {
  color: #552631;
  font-family: Avenir, sans-serif;
  font-size: 24px;
  margin-bottom: 3em;
}

#buy, #exam, #intro, #dropbtn {
    background-color: #552631;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
}

#intro {
  max-width: 200px;
  height: 21px;
}

#buy:hover, #exam:hover, #intro:hover, #dropbtn:hover {
  background-color: #7f3540;
}

#buy:active, #exam:active, #intro:active, #dropbtn:active {
  transform: translateY(3px);
}

#dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e7cad1;
  min-width: 160px;
  z-index: 1;
}

#dropdown-menu a {
    color: #552631;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown-menu a:hover {
  background-color: white;
}

#container-reviews {
  background-color: #d0d2e2;
  border-bottom-style: solid;
  border-bottom-color: #d0d2e2;
  border-bottom-width: 60px;
}

#reviews-wrapper {
  display: block;
  max-width: 80vw;
  padding: 5vw;
}

@supports (display: grid) {
  #container-reviews {
    max-width: 100%;
    display: grid;
    grid-template-rows: 5vw 1fr;
    grid-template-columns: 10% 1fr 10%;
  }
  #reviews-wrapper {
    grid-column: 2 / 4;
    grid-row-start: 2;
    padding: 0;
  }
  #reviews-list {
    max-width: 80%;
    grid-column: 2 / 3;
    list-style: none;
    padding-left: 0;
  }

  @media (min-width: 1200px){
    #reviews-list {
      max-width: 80%;
      grid-column: 2 / 3;
    }
  }
}

header {
  font-size: 32px;
  font-family: Avenir, sans-serif;
}

#reviews-header {
  color: #552631;
}

.review-item {
  color: #552631;
  font-family: Avenir, sans-serif;
  font-size: 24px;
  transform: translateX(200%);
  transition: all 1s linear;
}

.review-text {
  font-size: calc(20px + 0.5vw);
  margin-bottom: 0.5em;
}

.review-name {
  color: #7f3540;
  font-size: calc(20px + 0.5vw);
  margin-top: 0;
  margin-bottom: 2em;
}

#container-editor {
  background-color: #f6ead9;
  border-bottom-style: solid;
  border-bottom-color: #f6ead9;
  border-bottom-width: 60px;
}

#editor-wrapper {
  display: block;
  max-width: 80vw;
  padding: 5vw;
}

@supports (display: grid) {
  #container-editor {
    display: grid;
    grid-template-rows: 5vw 1fr 60px;
    grid-template-columns: 10% 345px 5% 1fr 10%;
  }
  #editor-wrapper {
    display:grid;
    grid-column: 2 / 5;
    grid-row-start: 2;
    padding: 0;
  }
  @media (min-width: 600px) {
    #editor-info {
      display: flex;
      justify-content: space-around;
    }
  }
}

#editor-header {
  color: #552631;
}

#editor-text {
  color: #552631;
  font-size: calc(18px + 0.5vw);
  margin-right: 1.5em;
}
